<h1><%= @team.name %></h1>
<%= image_tag @team.get_logo, width:90, height: 90, alt: "team crest" %>
<% if !@team.logo_url %>
<p><%= link_to "submit crest url", "/", style: "font-size:60%" %></p>
<% end %>
<p><b>Short Name:</b> <%= @team.shortname %></p>
<p><b>Code:</b> <%= @team.code %></p>
