<!DOCTYPE html>
<html>
  <head>
    <title>Goal Posts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--  CDN links for jquery DataTables https://datatables.net/ -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>

    <!-- Bootstrap: ensure proper rendering and touch zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <div class="container" >
      <!--  Nav Bar -->
      <%= render '/layouts/nav' %>

      <!--  Flash messages -->
      <% flash.each do |name, msg|%>
        <div class = "alert alert-<%= name %> alert-dismissable">
          <p> <%=  msg  %></p>
        </div>
      </br>
      <% end %>

      <!--  Page Body -->
      <%= yield %>
      <!--  Footer -->
      <div class="mastfoot">
        <div class="inner">
          <!--  TBD -->
        </div>
      </div>
    </div> <!-- /container -->
  </body>

</html>
